.link {
  @apply relative inline-block text-[#909090] transition-all duration-300;

  &::before {
    @apply absolute -right-[10px] top-[50%] h-[10px] w-[15px] -translate-y-[50%] transition-all duration-300;

    background-image: url('data:image/svg+xml,%3Csvg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.5837 0.232084L14.7336 4.40171L14.7683 4.43434C14.9072 4.57386 14.988 4.75787 15 4.97529L14.9993 5.04838C14.9892 5.2206 14.9243 5.38512 14.7963 5.53256L14.7479 5.58321L10.5837 9.76791C10.2758 10.0774 9.77786 10.0774 9.4699 9.76791C9.16011 9.45662 9.16011 8.9505 9.46988 8.63923L12.3451 5.74956L0.789263 5.74985C0.354104 5.74985 0 5.39403 0 4.95341C0 4.51279 0.354108 4.15697 0.789257 4.15697L12.2523 4.15669L9.4699 1.36079C9.16011 1.0495 9.16011 0.543381 9.4699 0.232084C9.77786 -0.0773614 10.2758 -0.0773614 10.5837 0.232084Z" fill="url(%23paint0_linear_69_489)"/%3E%3Cdefs%3E%3ClinearGradient id="paint0_linear_69_489" x1="20.8333" y1="5" x2="0.416668" y2="5.41667" gradientUnits="userSpaceOnUse"%3E%3Cstop stop-color="%232C41FF"/%3E%3Cstop offset="1" stop-color="%232CF2FF"/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A');
    opacity: 0;
    content: '';
  }

  &:hover {
    @apply text-white;

    &::before {
      @apply -right-[25px];
      opacity: 1;
    }
  }
}
